body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: scroll;

    font-size: 20px;
  }

  
  body.dark {
    --accent-color: #2abda4;
    --background-color: #333;
    --text-color: white;
  }
  


h1 {
  font-weight: lighter;
  font-size: 80px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0;
}

.media {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-53%, -50%);
}

li {
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: .5s;
}

li:hover {
  color: #292929;
  border: 1px solid #292929;
  transition: .5s;
}

#clock {
  position: fixed;
  bottom: -3px;
  font-size: 24px;
  transition: 3s;
  opacity: 0;
  color: var(--backColor);
  float: left;
}



html {
  background: lightgrey;
  height: 100%;
  overflow: hidden;
}




/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #39bcdd;
  color: #000;

  bottom: 0px;
  margin: 0px 0px 0px 0px;
  padding: 10px 30px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

p.hide-me { 
  display: none; 
  /*block*/
} 


#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
}