
*{
	font-family: 'Sulphur Point', sans-serif;
}

.bg-dark{
	background:black;
}
.nav-logo{
	width: 50px;
}
.alert{
	border-radius: 20px;
    padding: 20px;
	
	box-shadow: 0px 0px 4px 0px black;
}

.sidebar{
	background: #C8C8C8;
	color:white;
	height:100%;
}

body{
	background-color:rgba(17,17,17,1.00);
	transition: opacity .2s;
	opacity:100% !important;
}

.sb-header{
	margin:10px;
	
}
.sb-categories{
}
.sb-button{
	min-width:120px;
	display:flex;
	background:none;
	padding:10px;
	margin:10px;
	border-radius:50px;
	color:white;
	transition: background-color .2s, color .2s, padding-left .2s;
}

.sb-button:hover{
	background-color:darkslategray;
	color:white;
	text-decoration: none;
	padding: 10px 6px 10px 14px
}

.sb-button:focus{
	padding:10px 0px 10px 20px;
	background:#00A3FF
}

.sb-button-active{
	padding:10px 0px 10px 20px;
	background:#00A3FF
}

.sb-button-active:hover{
	padding:10px 0px 10px 20px;
}

.main{
	
}

.arg{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	background-color: lightgray;
	padding: 2px;
	color:black;
}

.dropdown-menu{
	background-color:black;
	color:white;
}

.command{
	box-shadow: 0px 0px 4px 0px black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 16px;
	background:rgba(47,47,47,1.00);
	color:white;
}

.command-header-hr{
	border-top: 1px solid white;
}

.table{
    box-shadow: 0px 0px 4px 0px black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 16px;
	background:rgba(47,47,47,1.00);
	color:white;
}

thead{
	border-bottom: 2px solid gray;
}

.category-header{
	text-align:center;
	color:white;
	
}

.footer-credit{
	color:darkgray;
	text-align:center;
}
